#outer-rim {
  width: 568px;
  height: 568px;
  color: white;
  font-family: monospace;
  position: absolute;
}

#bulls-eye {
  background: darkred;
  border: 1px solid white;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  left: 285px;
  top: 285px;
  z-index: 3;
}

#_25 {
  background: black;
  border: 1px solid white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 273px;
  top: 273px;
  z-index: 2;
}

div #scores {
  position: absolute;
  text-align: center;
  width: 32px;
  height: 32px;
  font-size: 16px;
  z-index: 4;
}

#_25:hover,
#bulls-eye:hover
{
  background: gray;
}

svg {
  width: 568px;
  height: 568px;
  position: absolute;
  z-index:1;
  transform: rotate(9deg);
}

g {
  stroke: white;
  stroke-width: 1px;
  position:center;
}

path:hover {
  fill: gray;
  pointer-events: all;
}
